p {
    font-family:"Roboto", sans-serif;
}

.body-landing {
  font-family:"Roboto", sans-serif;
	color:black;
	font-size:22px;
  height: 100vh;
  padding-bottom: 1%;
  position: relative;
  background:url("../images/bucketlist5.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.body-content {
  font-family:"Roboto", sans-serif;
	color:black;
	font-size:22px;
  padding-bottom: 1%;
  position: relative;
  background-color:#cfd8dc;
  min-height: 100vh;
  background-image:none;
  background-size: 100%;
}

.list-input {
  margin-top:1cm;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: auto;
  width: 30%;
}

#list-item {
  font-weight: normal;
}

.text-input {
  padding-left:25px;
}

.toast-alerts {
  font-family:"Roboto", sans-serif;
}

.parent {
    position: relative;
}

.component {
  margin: auto;
}

.bucketlist {
  padding-top: 25px;
  width: 33.33%;
  float: left;
  border-radius: 15px !important;
  /*opacity: 0.6;*/
}

.item-action {
  transform: translateY(-35%);
}

.item-search {
  transform: translateY(30%);
}

.item-done {
  text-decoration: line-through;
}

.center {
  transform: translateY(50%);
	margin:0 auto;
	width:30%;
}
.right-center {
  transform: translateY(50%);
	margin:0 auto;
	width:30%;
}

.dialog {
  max-width: 700px;
  width:30%;
  margin:0 auto;
}

.nav {
  background:url("../images/yolo_logo.png") !important;
}
.empty-list {
  transform: translateY(70%);
	margin:0 auto;
  /*opacity: 0.6;*/
	width:38%;
}
