p {
    font-family:"Roboto", sans-serif;
}

.body-landing {
  font-family:"Roboto", sans-serif;
	color:black;
	font-size:22px;
  height: 100vh;
  padding-bottom: 1%;
  position: relative;
  background:url("../images/life_pic.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.list-input {
  margin-top:1cm;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: auto;
  width: 30%;
}

#list-item {
  font-weight: normal;
}

.text-input {
  padding-left:25px;
}

.toast-alerts {
  font-family:"Roboto", sans-serif;
}

.parent {
    position: relative;
}

.component {
  margin: auto;
}

.bucketlist {
  padding-top: 25px;
  width: 33.33%;
  float: left;
  opacity: 0.6;
}

.item-action {
    transform: translateY(-35%);
}

.item-search {
  transform: translateY(30%);
}

.item-done {
  text-decoration: line-through;
}

.center {
  transform: translateY(50%);
	margin:0 auto;
	width:30%;
}

.empty-list {
  transform: translateY(70%);
	margin:0 auto;
  opacity: 0.6;
	width:38%;
}
