.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 50%;
  border-radius: 3px;
}

p {
    font-family:"Roboto", sans-serif;
}

.body-landing {
  font-family:"Roboto", sans-serif;
	color:black;
	font-size:22px;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 1%;
  position: relative;
  background:url("../images/life_pic.jpg");
  background-size: cover;
  /*margin-top: -70px;*/
}

.list-input {
  margin-top:1cm;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: auto;
  width: 40%;
}

.text-input {
  padding-left:25px;
  padding-right:25px;
}

.toast-alerts {
  font-family:"Roboto", sans-serif;
}

.parent {
    display: flex;
    height: 500px;
}

.component {
  margin: auto;
  /*width: 50%;*/
  /*height: 50%;*/
}
